.nfc-icon{
	width: 100%;
}
.nfc-icon-modal{
	width:50%;
	display:block;
	margin-left:auto !important;
	margin-right:auto !important;
}

.bar-subheader{
	height:114px !important;
	border:none;
}
.has-subheader{
	top:160px !important;
	
}
.small-detail-font{
	font-size:0.97em;
}
.small-heading-font{
	font-size: 0.99em;
}
.item.wrap, .item.content-wrap{
	white-space:normal !important;
}

.text-center{
    text-align: center !important;
}