<ion-item class="item-divider small-heading-font">
	Vehicle: SJN12345678912345
</ion-item>
<ion-list>
	<ion-item class="wrap small-detail-font">
		<strong>Fitment Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum ante at lacinia gravida. Praesent feugiat arcu ut purus congue, ut eleifend urna pharetra. Suspendisse potenti. Nulla facilisi. Quisque vitae 
	</ion-item>
</ion-list>
<ion-item>
	<ion-item class="item-divider">
		Parts for fitment
	</ion-item>
	<ion-list>
		<ion-item ng-click="openPart(part)">
			10x Pack Bolts
		</ion-item>
		<ion-item ng-click="randomPrint()">
			Iron Rod
		</ion-item>
		<ion-item ng-click="randomPrint()">
			Cryptonite
		</ion-item>
		<ion-item ng-click="randomPrint()">
			A Miracle to finish this!
		</ion-item>
	</ion-list>
</ion-item>