<ion-view title="Home">
	<header class="bar bar-header bar-positive">
		<h1 class="title">Home</h1>
	</header>
	<ion-content class="has-header padding">
		<div class="card">
			<div class="item item-divider">
				Vehicle Stats
			</div>
			<div class="item item-text-wrap">
				Total In Database:
				<strong>{{controllerData.stats.totalVehicles}}</strong><br />
				Total Assigned to Fitment Groups:
				<strong>{{controllerData.stats.totalAssignedVeh}}</strong><br />
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				Part Stats
			</div>
			<div class="item item-text-wrap">
				Total In Database:
				<strong>{{controllerData.stats.totalParts}}</strong><br />
				Total Assigned to Fitment Groups:
				<strong>{{controllerData.stats.totalAssignedParts}}</strong><br />
				Total parts currently in inventory:
				<strong>{{controllerData.stats.totalPartsInInventory}}</strong><br />
			</div>
		</div>
	</ion-content>
</ion-view>