<ion-view title="Parts">
	<header class="bar bar-header bar-positive">
		<h1 class="title">Parts</h1>
	</header>
	<ion-header-bar class="bar bar-subheader">
	<div class="list-top">
			<div class="row">
				<div class="col col-75">
					<div class="row">
						<h4>Total Parts: {{controllerData.partsList.total}}</h4>
					</div>
				</div>
				<!--NFC Logo -- Opens the scan modal -->
				<div class="col col-25">
					<img class="nfc-icon" src="img/nfc-icon.png" ng-click="openPartScan()">
				</div>
			</div>
		</div>
	</ion-header-bar>
	<ion-content class="has-subheader">
		<!--Pull to Refresh UI Element -->
		<ion-refresher pulling-text="Pull To Refresh" on-refresh="loadList()"></ion-refresher>
		<!--Parts List -->
		<div class="list-bottom">
			<ion-item ng-click="openPart(part.PART_ID)" ng-repeat="part in controllerData.partsList.parts">
				{{part.NAME}}
			</ion-item>
            <ion-item class="card padding item-text-wrap text-center">
                <i class="icon ion-refresh"></i>
                <h2>Pull down to refresh Parts</h2>
            </ion-item>
		</div>
	</ion-content>
	
</ion-view>