<ion-view title="Parts" ng-controller="PartsController as parts_ctrl">
	<header class="bar bar-header bar-positive">
		<h1 class="title">Parts</h1>
	</header>
	<ion-header-bar class="bar bar-subheader">
	<div class="list-top">
			<div class="row">
				<div class="col col-75">
					<div class="row">
						<h4>Total Parts: 000</h4>
					</div>
				</div>
				<div class="col col-25">
					<img class="nfc-icon" src="img/nfc-icon.png">
				</div>
			</div>
		</div>
	</ion-header-bar>
	<ion-content class="has-subheader">
			<ion-refresher
		pulling-text="Pull To Refresh"
		onRefresh="">
		</ion-refresher>
		<div class="list-bottom">
			<ion-scroll direction="y">
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					<ion-item>
						00000008
					</ion-item>
					
			</ion-scroll>
		</div>
	</ion-content>
	
</ion-view>