<ion-view title="Vehicles" ng-controller="VehiclesController as veh_ctrl">
	<header class="bar bar-header bar-positive">
		<h1 class="title">Vehicles</h1>
	</header>

	<ion-header-bar class="bar bar-subheader">
	
	<div class="list-top">
			<div class="row">
				<div class="col col-75">
					<div class="row">
						<h4>Total Vehicles: {{vehicleList[1].vin_count}}</h4>
					</div>
					<div class="row">
						<h4>In Progress: {{vehicleList[2].total_fitment_vins}}</h4>
					</div>
				</div>
				<div class="col col-25">
					<img class="nfc-icon" src="img/nfc-icon.png" ng-click="openVehicleScan()">
				</div>
			</div>
		</div>
	</ion-header-bar>
	<ion-content class="has-subheader">
		<ion-refresher
		pulling-text="Pull To Refresh"
		on-refresh="loadList()">
		</ion-refresher>
		<div class="list-bottom">
					<ion-item ng-click="openVIN(vin)" ng-repeat="vin in vehicleList[0].vehicles">
						{{vin}}
					</ion-item>
            <ion-item class="card padding item-text-wrap text-center">
                <i class="icon ion-refresh"></i>
                <h2>Pull down to refresh Vehicles</h2>
            </ion-item>
		</div>
	</ion-content>
	
</ion-view>