<ion-item class="item-divider small-heading-font">
	<strong>Vehicle: </strong>{{controllerData.vehicleDetails.vehicle.VIN}}
</ion-item>
<!--Vehicle Information -->
<ion-list>
	<ion-item class="item-assertive" ng-if="!controllerData.vehicleDetails.vehicle.VIN">
		Vehicle Does not exist
	</ion-item>
	<ion-item class="small-detail-font">
		<strong>Make: </strong>{{controllerData.vehicleDetails.vehicle.MAKE}}
	</ion-item>
	<ion-item class="small-detail-font">
		<strong>Model: </strong>{{controllerData.vehicleDetails.vehicle.MODEL}}
	</ion-item>
	<ion-item class="small-detail-font">
		<strong>Colour: </strong>{{controllerData.vehicleDetails.vehicle.COLOUR}}
	</ion-item>
	<ion-item class="small-detail-font">
		<strong>Added: </strong>{{controllerData.vehicleDetails.vehicle.ADDED_TIMESTAMP  | date: 'dd-MM-yyyy HH:MM:ss'}}
	</ion-item>
</ion-list>
<!--If there is not a fitment group -->
<ion-item ng-if="!controllerData.vehicleDetails.fitmentGroups[0]">
	<div  class="item item-text-wrap item-assertive">
		Vehicle does not have any fitment groups
	</div>
</ion-item>
<ion-item ng-if="controllerData.vehicleDetails.fitmentGroups[0]">
	<ion-item class="item-divider">
		Fitment Groups
	</ion-item>
	<!--Group List -->
	<ion-list>
		<ion-item ng-click="openGroup(group)" ng-repeat="group in controllerData.vehicleDetails.fitmentGroups">
			<i class="ion-load-a" ng-if="group.IN_PROGRESS == 'TRUE'"></i>
			<i class="ion-close-round" ng-if="(group.IN_PROGRESS == 'FALSE') && (groups.INCOMPLETE == 'TRUE')"></i>
			<i class="ion-checkmark-round" ng-if="(group.INCOMPLETE == 'FALSE') && (group.IN_PROGRESS = 'FALSE')"></i>
			{{group.DESCRIPTION}}
		</ion-item>
	</ion-list>
</ion-item>