<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-9">
                    <span>
                        <h1>Fitment Companion Web
                            <small>: Create Fitment Group</small>
                        </h1>
                    </span>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Current User ID : {{currentUser.id}} <br/>
                        Current User Name : {{currentUser.user_name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="" ng-click="navHome()">Home</a></li>
                    <li><a href="" ng-click="navUsers()">Users</a></li>
                    <li><a href="" ng-click="navVehicles()">Vehicles</a></li>
                    <li><a href="" ng-click="navParts()">Parts</a></li>
                    <li><a href="" ng-click="navFitments()">Fitments</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right logout-button">
                    <li class=""><a href="" ng-click="logout()">Logout</a></li>
                </ul>

                <p class="navbar-text navbar-right">
            </nav>
        </div>
    </div>
    <!--Page Content -->
    <div class="alert alert-danger" role="alert" ng-show="controllerData.error">{{controllerData.currentError}}</div>
    <form name="createFitmentForm">
        <div class="input-group">
            <span class="input-group-addon">Vehicle</span>
            <select class="form-control" data-live-search="true" title="Vehicle" ng-model="controllerData.fitmentGroup.vin">
                <option ng-repeat="vehicle in controllerData.vehicles">{{vehicle.VIN}}</option>
            </select>
        </div>
        <br /><br />
        <div class="input-group">
            <span class="input-group-addon">Group Description</span>
            <input name="groupDesc" type="text" class="form-control" placeholder="Group Desc" ng-model="controllerData.fitmentGroup.desc"  ng-required="true">
        </div>
        <br /><br />
        <div class="input-group">
            <span class="input-group-addon">Complete By</span>
            <input name="estCompDate" type="text" class="form-control" placeholder="DD/MM/YYYY" ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="controllerData.fitmentGroup.timestamp">
        </div>
        <br/><br/>
            <h4>Available Parts</h4>
            <div class="option-elem">
                <select id="parts" size="5" multiple>
                    <option ng-repeat="part in controllerData.parts">{{part.name}} ({{part.MANUFACTURER}})</option>
                </select>
            </div>
            <div class="option-elem">
                <input type="button" id="btnLeft" value="<<"/>
                <input type="button" id="btnRight" value=">>"/>
            </div>
            <div class="option-elem">
                <select id="rightValues" size="5" multiple>
                    <option ng-repeat="item in conrollerData.fitmentOp">{{item.name}}</option>
                </select>
            </div>
    </form>
</div>