<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-9">
                <span>
                    <h1>Fitment Companion Web
                        <small>: Fitments Management</small>
                    </h1>
                </span>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Current User ID : {{currentUser.id}} <br/>
                        Current User Name : {{currentUser.user_name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="" ng-click="navHome()">Home</a></li>
                    <li><a href="" ng-click="navUsers()">Users</a></li>
                    <li><a href="" ng-click="navVehicles()">Vehicles</a></li>
                    <li><a href="" ng-click="navParts()">Parts</a></li>
                    <li><a href="" ng-click="navFitments()">Fitments</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right logout-button">
                    <li class=""><a href="" ng-click="logout()">Logout</a></li>
                </ul>

                <p class="navbar-text navbar-right">
            </nav>
        </div>
    </div>
    <!--Page Content -->
    <div class="panel panel-default">
        <!--Statitics -->
        <div class="row">
            <div class="col-md-9">
        <div class="panel-body">
            Total Groups : <strong>{{controllerData.totalGroups}}</strong><br />
            Total Groups assigned and in progress : <strong>{{controllerData.totalAssigned}}</strong><br />
            Total Groups completed : <strong>{{controllerData.totalCompleted}}</strong><br /><br />
            Total Groups pending : <strong>{{controllerData.pending}}</strong><br /><br />
            <button type="button" ng-click="loadAllFitments()" class="btn btn-primary">Refresh</button>
            <button type="button" ng-click="navAddFitment()" class="btn btn-primary">Create Fitment Group</button>
        </div>
            </div>
            <div class="col-md-3">
        <div class="panel-body">
            <i class ="check-red glyphicon glyphicon-certificate"></i> : Pending/Attempted<br/>
            <i class ="check-orange glyphicon glyphicon-certificate"></i> : In Progress<br />
            <i class ="check-green glyphicon glyphicon-certificate"></i> : Completed<br />
        </div>
            </div>
        </div>
    </div>
    <!--Vehicles Table -->
    <div class="alert alert-danger" role="alert" ng-show="controllerData.error">{{controllerData.currentError}}</div>
    <table class="table">
        <thead>
        <tr>
            <th>Group ID</th>
            <th>Description</th>
            <th>Vehicle</th>
            <th>User</th>
            <th>Created</th>
            <th>Est. Completion</th>
            <th>Act. Completion</th>
            <th>Status</th>
            <th>No. Parts</th>
            <th>Notes if Attempted</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in controllerData.fitments">
            <td>{{group.FIT_GROUP_ID}}</td>
            <td>{{group.DESCRIPTION}}</td>
            <td>{{group.VEH_VIN}}</td>
            <td>{{group.assignedUser}}</td>
            <td>{{group.CREATED_TIMESTAMP | date: 'dd-MM-yyyy HH:MM:ss'}}</td>
            <td>{{group.EST_COMP_TIMESTAMP | date: 'dd-MM-yyyy HH:MM:ss'}}</td>
            <td>{{group.ACT_COMP_TIMESTAMP | date: 'dd-MM-yyyy HH:MM:ss'}}</td>
            <td> <!--Status indicator -->
                <i class ="check-red glyphicon glyphicon-certificate" ng-show="(group.IN_PROGRESS == 'FALSE')&&(group.INCOMPLETE == 'TRUE')"></i>
                <i class ="check-orange glyphicon glyphicon-certificate" ng-show="(group.IN_PROGRESS == 'TRUE')&&(group.INCOMPLETE == 'TRUE')"></i>
                <i class ="check-green glyphicon glyphicon-certificate" ng-show="(group.IN_PROGRESS == 'FALSE')&&(group.INCOMPLETE == 'FALSE')"></i>
            </td>
            <td>{{group.assignedParts}}</td>
            <td>{{group.GROUP_INCOMPLETE_NOTES}}</td>
            <td>
                <i ng-click="deleteGroup(group.FIT_GROUP_ID)" class="glyphicon glyphicon-remove"></i>
            </td>
        </tr>
        </tbody>
    </table>


</div>