<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-9">
                <span>
                    <h1>Fitment Companion Web
                        <small>: Home</small>
                    </h1>
                </span>
            </div>
            <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    Current User ID : {{currentUser.id}} <br/>
                    Current User Name : {{currentUser.user_name}}
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="" ng-click="navHome()">Home</a></li>
                    <li><a href="" ng-click="navUsers()">Users</a></li>
                    <li><a href="" ng-click="navVehicles()">Vehicles</a></li>
                    <li><a href="" ng-click="navParts()">Parts</a></li>
                    <li><a href="" ng-click="navFitments()">Fitments</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right logout-button">
                    <li class=""><a href="" ng-click="logout()">Logout</a></li>
                </ul>

                <p class="navbar-text navbar-right">
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-danger" role="alert" ng-show="controllerData.error">{{controllerData.currentError}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>User Statistics</strong>
                </div>
                <div class="panel-body">
                    Total Users: <strong>{{controllerData.users.totalUsers}}</strong><br />
                    Total Users signed in: <strong>{{controllerData.users.totalUsersSignedIn}}</strong><br />
                    Total Users assigned to a Group: <strong>{{controllerData.users.totalAssignedUsers}}</strong>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Parts Statistics</strong>
                </div>
                <div class="panel-body">
                    Total Parts: <strong>{{controllerData.parts.totalParts}}</strong><br />
                    Total Parts currently in inventory: <strong>{{controllerData.parts.totalPartsInInventory}}</strong><br />
                    Total Parts assigned to Groups: <strong>{{controllerData.parts.totalAssignedParts}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Vehicle Statistics</strong>
                </div>
                <div class="panel-body">
                    Total Vehicles: <strong>{{controllerData.vehicles.totalVehicles}}</strong><br />
                    Total Vehicles assigned to a Group: <strong>{{controllerData.vehicles.totalAssignedVehicles}}</strong><br/><br/><br/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Fitment Statistics</strong>
                </div>
                <div class="panel-body">
                    Total Groups: <strong>{{controllerData.fitments.totalGroups}}</strong><br />
                    Total Groups pending: <strong>{{controllerData.fitments.totalGroupsPending}}</strong><br />
                    Total Groups in progress: <strong>{{controllerData.fitments.totalGroupsInProgress}}</strong><br />
                    Total Completed Groups: <strong>{{controllerData.fitments.totalGroupsCompleted}}</strong>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <th>Timestamp</th>
            <th>Event</th>
        </thead>
        <tbody>
        <tr ng-repeat="event in controllerData.events | limitTo: 10">
            <td>{{event.timestamp | date : 'dd-MM-yyyy HH:MM:ss'}}</td>
            <td>{{event.user}} {{event.text}}</td>
        </tr>
        </tbody>
    </table>



</div>