<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-9">
                <span>
                    <h1>Fitment Companion Web
                        <small>: Parts Management</small>
                    </h1>
                </span>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Current User ID : {{currentUser.id}} <br/>
                        Current User Name : {{currentUser.user_name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="" ng-click="navHome()">Home</a></li>
                    <li><a href="" ng-click="navUsers()">Users</a></li>
                    <li><a href="" ng-click="navVehicles()">Vehicles</a></li>
                    <li><a href="" ng-click="navParts()">Parts</a></li>
                    <li><a href="" ng-click="navFitments()">Fitments</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right logout-button">
                    <li class=""><a href="" ng-click="logout()">Logout</a></li>
                </ul>

                <p class="navbar-text navbar-right">
            </nav>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            Total Parts : <strong>{{controllerData.total}}</strong><br />
            Total Parts assigned to a Fitment Group : <strong>{{controllerData.totalAssigned}}</strong><br />
            Total Parts currently in inventory : <strong>{{controllerData.totalInInventory}}</strong><br /><br />
            <button type="button" ng-click="loadAllParts()" class="btn btn-primary">Refresh</button>
            <button type="button" ng-click="navAddPart()" class="btn btn-primary">Add Part</button>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="controllerData.error">{{controllerData.currentError}}</div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Part Name</th>
            <th>Manufacturer</th>
            <th>Width (M)</th>
            <th>Length (M)</th>
            <th>Weight (KG)</th>
            <th>In Inventory</th>
            <th>Added</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="part in controllerData.parts">
            <td>{{part.PART_ID}}</td>
            <td>{{part.NAME}}</td>
            <td>{{part.MANUFACTURER}}</td>
            <td>{{part.WIDTH_M}}</td>
            <td>{{part.LENGTH_M}}</td>
            <td>{{part.WEIGHT}}</td>
            <td>
                <i class ="check-green glyphicon glyphicon-certificate" ng-show="part.IN_INVENTORY == 'TRUE'"></i>
                <i class ="check-red glyphicon glyphicon-certificate" ng-show="part.IN_INVENTORY == 'FALSE'"></i>
            </td>
            <td>{{part.ADDED_TIMESTAMP | date: 'dd-MM-yyyy HH:MM:ss'}}</td>
            <td>
                <i ng-click="deletePart(part.PART_ID)" class="glyphicon glyphicon-remove"></i>
                <a id="{{'downloadTag'+$index}}" download="{{'tag_part_'+part.PART_ID+'_'+part.NAME+'.txt'}}" ng-click="generateTagFile(part.PART_ID,$index)" class="glyphicon glyphicon-barcode"></a>
            </td>
        </tr>
        </tbody>
    </table>


</div>