<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-9">
                <span>
                    <h1>Fitment Companion Web
                        <small>: User Management</small>
                    </h1>
                </span>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Current User ID : {{currentUser.id}} <br/>
                        Current User Name : {{currentUser.user_name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="" ng-click="navHome()">Home</a></li>
                    <li><a href="" ng-click="navUsers()">Users</a></li>
                    <li><a href="" ng-click="navVehicles()">Vehicles</a></li>
                    <li><a href="" ng-click="navParts()">Parts</a></li>
                    <li><a href="" ng-click="navFitments()">Fitments</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right logout-button">
                    <li class=""><a href="" ng-click="logout()">Logout</a></li>
                </ul>

                <p class="navbar-text navbar-right">
            </nav>
        </div>
    </div>
    <!--Page content-->
    <div class="panel panel-default">
        <div class="panel-body">
            Total users : <strong>{{controllerData.total}}</strong><br />
            Total users assigned to a Fitment Group : <strong>{{controllerData.totalAssigned}}</strong><br />
            Total users currently signed in : <strong>{{controllerData.totalSignedIn}}</strong><br /><br />
            <button type="button" ng-click="loadAllUsers()" class="btn btn-primary">Refresh</button>
            <button type="button" ng-click="navAddUser()" class="btn btn-primary">Add User</button>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="controllerData.error">{{controllerData.currentError}}</div>
    <!--Parts Table -->
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Signed in</th>
            <th>Date Added</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in controllerData.users">
            <td>{{user.USER_ID}}</td>
            <td>{{user.USER_NAME}}</td>
            <td>{{user.USER_FIRST_NAME}}</td>
            <td>{{user.USER_LAST_NAME}}</td>
            <td> <!--Status indicator, in or our of inventory -->
                <i class ="check-green glyphicon glyphicon-certificate" ng-show="user.USER_SIGNED_IN == 'TRUE'"></i>
                <i class ="check-red glyphicon glyphicon-certificate" ng-show="user.USER_SIGNED_IN == 'FALSE'"></i>
            </td>
            <td>{{user.USER_CREATED_TIMESTAMP | date: 'dd-MM-yyyy HH:MM:ss'}}</td>
            <td>
                <i ng-click="deleteUser(user.USER_ID)" class="glyphicon glyphicon-remove"></i>
            </td>
        </tr>
        </tbody>
    </table>


</div>