<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-9">
                <span>
                    <h1>Fitment Companion Web
                        <small>: Vehicle Management</small>
                    </h1>
                </span>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Current User ID : {{currentUser.id}} <br/>
                        Current User Name : {{currentUser.user_name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="" ng-click="navHome()">Home</a></li>
                    <li><a href="" ng-click="navUsers()">Users</a></li>
                    <li><a href="" ng-click="navVehicles()">Vehicles</a></li>
                    <li><a href="" ng-click="navParts()">Parts</a></li>
                    <li><a href="" ng-click="navFitments()">Fitments</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right logout-button">
                    <li class=""><a href="" ng-click="logout()">Logout</a></li>
                </ul>

                <p class="navbar-text navbar-right">
            </nav>
        </div>
    </div>
    <!--Page Content -->
    <div class="panel panel-default">
        <div class="panel-body">
            Total Vehicles : <strong>{{controllerData.total}}</strong><br />
            Total Vehicles Assigned to a Fitment : <strong>{{controllerData.totalAssigned}}</strong><br /><br />
            <button type="button" ng-click="loadAllVehicles()" class="btn btn-primary">Refresh</button>
            <button type="button" ng-click="navAddVehicle()"class="btn btn-primary">Add Vehicle</button>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="controllerData.error">{{controllerData.currentError}}</div>
    <div class="alert alert-success" role="alert" ng-show="controllerData.addedSuccess">{{controllerData.addedSuccess}}</div>
    <!--Vehicle Table -->
    <table class="table">
        <thead>
            <tr>
                <th>VIN</th>
                <th>Make</th>
                <th>Model</th>
                <th>Colour</th>
                <th>Date Added</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vehicle in controllerData.vehicles">
                <td>{{vehicle.VIN}}</td>
                <td>{{vehicle.MAKE}}</td>
                <td>{{vehicle.MODEL}}</td>
                <td>{{vehicle.COLOUR}}</td>
                <td>{{vehicle.ADDED_TIMESTAMP | date: 'dd-MM-yyyy HH:MM:ss'}}</td>
                <td>
                    <i ng-click="deleteVehicle(vehicle.VIN)" class="glyphicon glyphicon-remove"></i>
                    <a id="{{'downloadTag'+$index}}" download="{{'tag_veh_'+vehicle.VIN+'.txt'}}" ng-click="generateTagFile(vehicle.VIN,$index)" class="glyphicon glyphicon-barcode"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>